body {
    background-color: #10ffff;	
    font-family: "SUSE", sans-serif;
    text-align: center;
}

#cabecalho h1 {
    color: crimson;
}

#cabecalho img {
    border: 5px solid black; 
}


